.list-item {
  display: flex;
  justify-content: flex-start;
  padding: 10px;
  background: #f3f3f3;
  margin: 20px 0;
  cursor: pointer;

  &-label {
    cursor: pointer;
    padding: 1rem;
  }

  &-button {
    display: none;
  }

  &-content {
  }
}

.selected {
  background: #c8c8c8;
}
