.list-item {
  padding: 10px;

  &-label {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    cursor: pointer;
    background: #f3f3f3;
    padding: 1rem;
  }

  &-button {
    visibility: hidden;
  }

  &-content {
    margin-left: 50px;
  }
}

.selected {
  .list-item-label {
    background: #c8c8c8;
  }
}
